/* gli stili da riutilizzare li inserisco in questa sezione antecedente agli stili
più specifici */
:root{
    --small-font: 16px;
    --section-margin: 100px;
    --distance32: 32px
}

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: var(--small-font);
}
.d-flex{
    display: flex;
}

li a{
    text-decoration: none;
    color: black;
    padding: 0 0 .5rem;
    
}

button{
    font-family: 'Roboto', sans-serif;
    font-size: var(--small-font);
}

.btn{
    background-color: transparent;
    border: none;
    padding: 10px 24px;
}

.blue-button{
    background-color: #0061ff;
    color: white;
}

.bg-lightblue{
    background-color: #b4d0e7;
}

.img-container{
    width: 70%;
}
.large-container{
    max-width: 65vw;
    margin: auto;
}
h2{
    font-size: 32px;
    padding: 0 0 24px;
}
h3{
    font-size: 24px;
    padding: 0 0 24px;
}

.p-container{
    font-size: var(--small-font);
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    width: 30%;
}

section:last-of-type{
    margin-bottom: var(--section-margin);
}

.little-row{
    border-bottom: 1px solid;
}

section{
    max-width: 50vw;
    margin: var(--section-margin) auto 0;
}
.gray{
    color: #9c9d8c;
    padding: 8px 0; 
}
/* stili per la sezione header*/
/* inizio dalla nav */

header nav{
    display: flex;
    justify-content: space-between;
    font-size: var(--small-font);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}

.nav-container{
    padding: .5rem 1rem 1rem;
}

header nav div img{
    width: 100px;
    margin-top: .2rem;
    object-fit: contain;
}

header nav div ul{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 1rem;

}


/* terminata la nav passo al resto dell'header */
.jumbotron{
    position: relative;
    top: 50px;
}


h1{
    font-size: 48px;
    margin-bottom: var(--distance32);
    margin-top: var(--distance32);
    font-weight: 700;
}


header .img-container img{
    max-width: 100%;
    display: block;
}

.fa-arrow-down{
    margin-top: 50px;
    font-size: 32px;
}

/* stili per il main */

main div ul li{
    padding-bottom: 24px;
}

.pay-plan{
    justify-content: space-between;
    column-gap: 10px;
}

.radio-container{
    align-items: center;
}

.radio{
    padding-right: 16px;
}

.plan{
    border: 1px solid #9c9d8c;
    flex-grow: 1;
    margin: 24px 0 0;
}

.plan > span{
    display: block;
    border-bottom: 1px solid #9c9d8c;
    padding: 8px 0;
    text-align: center;
}
.content-container{
    width: 90%;
    margin: auto;
    border-color: transparent;
    flex-direction: column;
}

.plan h3{
    padding: 24px 0 16px;
}

.ul-container ul{
    list-style: none;
    padding: var(--distance32) 0;

}
.content-container button{
    align-self: center;
    width: 99%;
    margin-bottom: var(--distance32);
}
.content-container .little-row{
    width: 20%;
    margin: 64px 0 var(--distance32) 0;
    border-color: #9c9d8c;
}
.fa-check{
    color: #0061ff;
}
/* stili per la seconda sezione */

main .img-container img{
    max-width: 600px;
    object-fit: contain;
    display: block;
}
main .p-container{
    padding: 20px;
}

.partner-btn{
    background-color: transparent;
    border: 1px solid black;
    padding: 8px;
}

/* stili per le cards */
.card-container{
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 10px;
    font-size: var(--small-font);
    margin-bottom: 150px;
}

.card{
    flex-direction: column;
    max-width: 250px;
}
.card img{
    max-width: 250px;
    object-fit: contain;
    display: block;
}

/* stili per la sezione sotto i quadrati */

.bg-lightblue h2{
    margin: var(--section-margin);
    margin-left: 0;
    color: #73242e;
}

.bg-lightblue section .d-flex{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

main .bg-lightblue button{
    width: 50%;
    border: none;
    padding: .5rem .7rem;
}

.FAQ{
    display: inline-block;
    font-weight: 600;
    margin: 24px 0;
    width: 90%;
}

/* stili del footer */

footer{
    background-color: black;
    color: white;
}

footer h3{
    padding: 50px 0 8px 0;
}

footer .large-container{
    justify-content: space-between;
}

footer div ul {
    list-style: none;
    padding: 0;
}

footer div ul li{
    padding-bottom: 8px;
}

footer div ul li a{
    color: white;
    text-decoration: none;
}

footer .little-row{
    width: var(--section-margin);
    border-color: white;
    margin-top: 50px;
}

.lang-selector{
    display: inline-block;
    margin-top: 24px;
    color: #9c9d8c;
}
footer .fa-solid{
    color: #9c9d8c;
    padding-right: 8px;
}